# Ignore virtual environment
.venv/

# Ignore system files
*.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore results (optional)
results/

# Ignore VSCode or PyCharm settings (optional)
.idea/
.vscode/